.recipe-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-title {
  font-size: 2em;
  font-weight: bold;
}

.recipe-image {
  max-width: 100%;
  height: auto;
}

.ingredients {
  list-style: none;
  padding: 0;
}

.instructions {
  margin-top: 20px;
}