.recipe-detail {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* other styles */

/* This file is a copy of RecipeDetail.css restored from commit 0a678fda401c36189f81a3a09612c428a98bfcd0 with line 524 modified */